.filters-header{
    display : flex;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    margin: 0px 20px;
}

.page-name{
    font-size: 30px;
    font-weight: 400;
    padding: 0px 15px;
    width: 70%;
}

#sort-by-name, #search{
    margin: 5px;
}
input[type="search"]{
    width:100px;
}
